#adminmenu {
  li.menu-top {
    display: none;
  }

  #adminmenutabs {
    display: block;
  }
}

#adminmenutabs {
  border-bottom: 2px #32373c solid;
  float: left;
  position: absolute;
  top: 0;
  width: 100%;

  li {
    float: left;
    width: 50%;
    text-align: center;

    a {
      padding: 5px;
      text-decoration: none;
      background-color: #23282d;
      text-align: center;

      &.active {
        background: #32373c;
      }
    }
  }
}

#collapse-menu,
.admin-menu-tabs-show {
  display: block !important;
}

@media only screen and (max-width: 960px) {
  #wp-admin-bar-updates,
  a[href="plugins.php"] .update-plugins,
  .admin-menu-tabs-hide {
    display: none !important;
  }
}

.auto-fold {
  #adminmenu li.menu-top {
    display: block;
  }

  #adminmenutabs {
    display: none !important;
  }
}
