#adminmenu {
  li.menu-top {
    display: none;
  }
  #adminmenutabs {
    display: block;
  }
}

#adminmenutabs {
  border-bottom: 2px #32373c solid;
  float: left;
  position: absolute;
  top: 0;
  width: 100%;
  li {
    float: left;
    width: 50%;
    text-align: center;
    a {
      padding: 5px;
      text-decoration: none;
      background-color: #23282d;
      text-align: center;
      &.active {
        background: #32373c;
      }
    }
  }
}

.folded {
  #adminmenu {
    margin-top: 0;
  }
  #adminmenutabs {
    display: none !important;
  }
}

#collapse-menu, .admin-menu-tabs-show {
  display: block !important;
}

@media only screen and (max-width: 960px) {
  .auto-fold {
    #adminmenu li.menu-top {
      display: block !important;
    }

    #adminmenutabs {
      display: none !important;
    }
  }
}

@media only screen and (max-width: 782px) {
  #adminmenutabs {
    top: -40px;
    li a {
      padding: 10px 5px !important;
    }
  }
  #collapse-menu {
    display: none !important;
  }
}

@media only screen and (max-width: 960px) {
  #wp-admin-bar-updates, .admin-menu-tabs-hide, a[href="plugins.php"] .update-plugins {
    display: none !important;
  }
}
